<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>飲食紀錄</title>
</head>

<body style="border: none;"">
    <form action="" style="margin: 10px; display: flex; flex-direction: column; align-items: center; border: none;">
        <!-- <label>日期</label>
        <input type="date" id="datetime" value="" class="form-control" /> <br /> -->
        <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;">
            <label style="color: #435334; font-size: 4vw; font-weight: 700; margin-bottom: 5vw;">這是你一天中的哪一餐
</label>
            <select id="meal">
                <option value="早餐" selected>早餐</option>
                <option value="午餐">午餐</option>
                <option value="晚餐">晚餐</option>
                <option value="點心">點心</option>
                <option value="茶水">茶水</option>
            </select>
        </div>
        <br />
        <br />
        <!-- <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;">
            <label style="color: #435334; font-size: 4vw; font-weight: 700;">是否啟用圖片辨識輔助</label>
            <input type="radio" id="yesorno" name="yesorno" value="有"/>
            <input type="radio" id="yesorno" name="yesorno" value="無" selected/>
        </div> -->
        <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;">
            <label style="color: #435334; font-size: 4vw; font-weight: 700;">食物</label>
            <input style="width: 100%; min-height: 6vw;" type="text" id="food" class="form-control" />
        </div>
        <br />
        <!-- <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;">
            <label style="color: #435334; font-size: 4vw; font-weight: 700;">烹調方式</label>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="蒸" selected />
            <label >蒸</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="燙" />
            <label >燙</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="煮" />
            <label >煮</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="炸" />
            <label >炸</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="烤" />
            <label >烤</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="炒" />
            <label >炒</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="cook" value="其他" />
            <label >其他</label></div>
        </div> -->
        <!-- <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;">
            <label style="color: #435334; font-size: 4vw; font-weight: 700;">飲食後有沒有感到不適</label>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="yesorno" value="有" />
            <label >有</label></div>
            <div style="display: flex; flex-direction: row;"><input type="radio" name="yesorno" value="無" selected />
            <label >無</label></div>
        </div> -->
        <div style="width: 90vw; display: flex;flex-direction: column;align-items: flex-start; border: none;" id="">
            <label style="color: #435334; font-size: 4vw; font-weight: 700;">飲食完不舒服的症狀</label>
            <input style="width: 100%; min-height: 6vw;" type="text" id="sympton" class="form-control" />
        </div>
        <br />
        <div style="font-size: 3vw; font-weight: 700; align-self: flex-start; background-color: #CEDEBD; color: #435334; padding: 10px 5vw; border-radius: 5px;" class="btn btn-success btn-block" id="sure" onclick="sure()">確定</div>
    </form>
    <hr>
    <style>
        input {
            border: none;
            background-color: #FAF1E4;
        }
    </style>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script>
        const dataa={
            "三杯雞": "葵花油、調味料",
            "夜市牛排": "油脂含量高的肉類（紅肉）",
            "大腸包小腸": "香腸",
            "大腸蚵仔麵線": "調味料",
            "客家小炒": "葵花油、調味料",
            "披薩": "麵包",
            "控肉飯": "調味料、油脂含量高的肉類",
            "柑橘": "柑橘",
            "檸檬": "檸檬",
            "水煎包": "葵花油",
            "波霸奶茶": "含糖飲料",
            "湯圓": "糯米製品",
            "滷味": "沾醬",
            "滷白菜": "調味料",
            "滷肉飯": "調味料、油脂含量高的肉類",
            "炒泡麵": "調味料",
            "烤玉米": "烤肉醬、沾醬、綜合香料",
            "煎餃": "葵花油、沾醬",
            "牛肉湯": "油脂含量高的肉類（紅肉）"
        }
        function initializeLiff(myLiffId) {
            // liff
            //     .init({
            //         liffId: myLiffId
            //     })
            //     .then(() => {
            //         // start to use LIFF's api
            //         // initializeApp();
            //         language = liff.getLanguage(); // String。引用 LIFF SDK 的頁面，頁面中的 lang 值
            //         version = liff.getVersion(); // String。LIFF SDK 的版本
            //         isInClient = liff.isInClient(); // Boolean。回傳是否由 LINE App 存取
            //         isLoggedIn = liff.isLoggedIn(); // Boolean。使用者是否登入 LINE 帳號。true 時，可呼叫需要 Access Token 的 API
            //         os = liff.getOS(); // String。回傳使用者作業系統：ios、android、web
            //         lineVersion = liff.getLineVersion(); // 使用者的 LINE 版本

            //         if(!isLoggedIn) {
            //             liff.login({
            //                 redirectUri: 'https://dc6d-103-5-140-154.ngrok-free.app/page'
            //             });
            //         }
            //     })
            //     .catch((err) => {
            //         alert(err);
            //     });
        }

        function sure() {
            const food = document.getElementById('food');
            const sympton = document.getElementById('sympton');
            const meal = document.getElementById('meal');
            // const cook = document.getElementById('cook');
            let message = '';
            if (!food.value) {
                window.alert('請填寫「食物」欄位');
                return;
            } else if (!cook.value) {
                window.alert('請填寫「烹調方式」欄位');
                return;
            }
            if (!sympton.value) sympton.value = '無';

            const noww = new Date();
            const year = noww.getFullYear();
            const month = noww.getMonth()+1;
            const date = noww.getDate();
            const hour = noww.getHours();
            const minute = noww.getMinutes();
            const time = year + '/' + month + '/' + date + '/' + ' ' + hour + ':' + minute
            let msg = "餐點：" + meal.value + "\n時間：" + time + "\n食物：" + food.value + '\n症狀：' + sympton.value
            if (food.value in Object.keys(dataa)) {
                msg += `\n導致胃食道逆流因素: ${dataa[food.value]}`
            }
            console.log(msg);
            // liff.sendMessages([{
            //     'type': 'text',
            //     'text': msg
            // }]).then(function () {
            //     // window.alert('Message sent');
            //     liff.closeWindow();
            // }).catch(function (error) {
            //     window.alert('資料傳送失敗: ' + error);
            //     // liff.closeWindow();
            // });
        }

        window.onload = () => {
            // initializeLiff('2000677556-lOrjPZ8p');
        }

    </script>
</body>

</html>